@model IEnumerable<Milestone.Models.Cell>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
<style>
    .game-button {
        width: 50px;
        height: 50px;
        padding: 0px;
        margin: 1px;
    }

    .game-button-no-function {
        width: 50px;
        height: 50px;
        padding: 0px;
        margin: 1px;
    }

    .game-button-image {
        width: 50px;
    }

    .button-zone {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    .line-break {
        flex-basis: 100%;
        height: 0;
    }

    .button-label {
        font-size: 8px;
        text-align: center;
    }

</style>

@{
    // store image name in a string
    string imgStr = "";
}
<p>Current Time: @DateTime.Now</p>

<form>
    <div class="button-zone" id="button-zone">

        @for (int i = 0; i < Model.Count(); i++)
        {
            if (Model.ElementAt(i).GetFlagged() && !Model.ElementAt(i).GetVisited())
            {
                // <img class="game-button-image" src="~/img/@imgStr" />
                imgStr = "MinesweeperFlag.jpg";
            }
            else if (Model.ElementAt(i).GetVisited() == true)
            {
                if (Model.ElementAt(i).GetLive())
                {
                    // Model.ElementAt(i).setImgName("MinesweeperBomb.jpg");
                    imgStr = "MinesweeperBomb.jpg";
                }
                else
                {
                    // Model.ElementAt(i).setImgName(Model.ElementAt(i).GetNeighbors() + "lightgreybutton.jpg");
                    imgStr = Model.ElementAt(i).GetNeighbors() + "lightgreybutton.jpg";
                }
            }
            else
            {
                // Model.ElementAt(i).setImgName("darkgreybutton.jpg");
                imgStr = "darkgreybutton.jpg";
            }
            // start a new line each 10 buttons
            if (i % 10 == 0)
            {
                <div class="line-break"></div>
            }
            <div class="OneButton" id=@i>

                <button class="game-button" type="submit" value="@Model.ElementAt(i).GetID()" name="cellNum" asp-controller="Cell" asp-action="HandleButtonClick">
                    <!---->
                    <!--show the correct image related to the state -->
                    <img class="game-button-image" src="~/img/@imgStr" />
                    <!--<img class="game-button-image" src="~/img/Model.ElementAt(i).getImgName()" />-->
                </button>

            </div>
        }
    </div>
</form>
<p>
    <a asp-controller="Cell" asp-action="Index">New Game</a>
</p>
