@model IEnumerable<Milestone.Models.Cell>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
@{
    // store image name in a string
    string imgStr = "";
    for (int i = 0; i < Model.Count(); i++)
    {
        if (Model.ElementAt(i).GetLive())
        {
            // Model.ElementAt(i).setImgName("MinesweeperBomb.jpg");
            imgStr = "MinesweeperBomb.jpg";
        }
        else
        {
            // Model.ElementAt(i).setImgName(Model.ElementAt(i).GetNeighbors() + "lightgreybutton.jpg");
            imgStr = Model.ElementAt(i).GetNeighbors() + "lightgreybutton.jpg";
        }
        // start a new line each 10 buttons
        if (i % 10 == 0)
        {
        <div class="line-break"></div>
        }
    <div class="OneButton" id=@i>
        <button class="game-button-no-function" type="submit" value="@Model.ElementAt(i).GetID()" name="cellNum">
            <!--show the correct image related to the state -->
            <img class="game-button-image" src="~/img/@imgStr" />
            <!--<img class="game-button-image" src="~/img/Model.ElementAt(i).getImgName()" />-->
        </button>
 </div>
        }
    }
