@model Milestone.Models.Cell

@{
    // store image name in a string
    string imgStr = "";

    if (Model.GetFlagged() && !Model.GetVisited())
    {
        //<img class="game-button-image" src="~/img/@imgStr" />
        imgStr = "MinesweeperFlag.jpg";
    }
    // if the cell is visited, light grey picture
    else if (Model.GetVisited())
    {
        if (Model.GetLive())
        {
            // Model.ElementAt(i).setImgName("MinesweeperBomb.jpg");
            imgStr = "MinesweeperBomb.jpg";
        }
        else
        {
            // Model.ElementAt(i).setImgName(Model.ElementAt(i).GetNeighbors() + "lightgreybutton.jpg");
            imgStr = Model.GetNeighbors() + "lightgreybutton.jpg";
        }
    }
    else
    {
        // Model.ElementAt(i).setImgName("darkgreybutton.jpg");
        imgStr = "darkgreybutton.jpg";
    }
}
<button class="game-button" type="submit" value="@Model.GetID()" name="cellNum" asp-controller="Cell" asp-action="HandleButtonClick">
    <!--asp-controller="Cell" asp-action="HandleButtonClick"-->
    <!--show the correct image related to the state -->
    <img class="game-button-image" src="~/img/@imgStr" />
</button>